/* Colores 
    Azul: #3a4257
    Beige: #f0ddbc
    Blanco: #f6f6f6
    Gris: #999999
*/

/* Imagenes
    Perfil: https://i.imgur.com/qWJMIiU.png
    Logo: https://i.imgur.com/JM3ztDl.png
    UTN2: https://i.imgur.com/E0yW88w.png
*/

/* CUERPO */

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.contenedorCuerpo {
    display: flex;
    flex-direction: row;
    min-width: 100%;
    min-height: 100%;
}

.contenedorCuerpo > div {
    flex: 1;
    display: flex;
}

.contenedorCuerpoDerecho {
    background: #3a4257;
    display: flex;
    flex-direction: column;
    position: relative;
}

.contenedorCuerpoIzquierdo {
    background: #f6f6f6;
    display: flex;
    flex-direction: column;
    position: relative;
}

.saludo {
    width: 100%;
    font-weight: bold;
    font-family: Consolas;
}

.titulo {
    width: 100%;
    font-weight: bold;
    font-family: Corbel;
}

.fotoPerfil {
    border-radius: 50%;
    border: 10px solid #f0ddbc;
    width: 11.5%;
    height: 11.5%;
}

/* CREDITOS */

.imagenLogo {
    width: 80px;
    height: 80px;
    align-self: end;
    position: absolute;
    bottom: 0;
    padding: 0px 20px 20px 0px;
}

.imagenUTN {
    width: 157px;
    height: 80px;
    align-self: start;
    position: absolute;
    bottom: 0;
    padding: 0px 0px 20px 20px;
}
