@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,900');
@import url('https://fonts.googleapis.com/css?family=Posterama');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,900');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #f0f0f0;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    background: linear-gradient(45deg, #b2b2b2, #dbdbdb);
    filter: blur(100px);
    animation: circleAnimation 25s linear infinite;
}

@keyframes circleAnimation {
    0% {
        top: 0;
        left: 0;
    }

    25% {
        top: 50%;
        right: -50%;
        left: 50%
    }

    50% {
        bottom: 0;
        right: -100%;
        top: 100%;
        left: 25%;
    }

    75% {
        bottom: 0;
        left: 100%;
        top: 50%;
    }

    100% {
        top: 0;
        left: 0;
    }
}

.content {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 1980px;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    color: #fff;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

.centered-image {
    min-width: 500px;
    display: flex;
    justify-content: center;
    margin-top: 0px;
    position: relative;
}

    .centered-image img {
        max-width: 300px;
        height: auto;
        max-height: 100vh;
    }

.text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: -1;
    font-family: Montserrat;
}

.top-left-text {
    align-self: flex-start;
    margin: 8% 0 0 0%;
    font-weight: bold;
    font-size: 23pt;
    color: #000;
    line-height: 30px;
}

.min-text {
    font-weight: lighter;
    font-size: 13pt;
    color: #000;
    margin-bottom: 0px;
}

.bottom-right-text {
    align-self: flex-end;
    margin: 0 0% 6% 0;
    text-align: right;
    font-weight: lighter;
    font-size: 13pt;
    color: #000;
}

.white-bar {
    min-width: 500px;
    background-color: #ffffff;
    border-radius: 15px;
    height: 30px;
    display: flex;
    padding: 0 20px;
    transition: all 0.3s ease;
    position: relative;
}

.icons {
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 10px;
    transition: transform 1s ease;
}

    .icon img {
        width: 10px;
        height: 10px;
        margin-top: 3px;
    }

.white-bar:hover {
    justify-content: center;
}

.text-box {
    max-width: 500px;
    background-color: #fff;
    border-radius: 16px;
    padding: 10px 20px 10px 20px;
    margin-top: 10px;
    text-align: left;
    color: #000;
    font-family: Montserrat;
    line-height: 20px;
    font-size: 10pt;
}

@keyframes slide-in {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(50% - 10px));
    }
}

/* Estilos adicionales para dispositivos móviles */
@media only screen and (max-width: 600px) {
    .content {
        padding: 0px;
        width: 100%;
        max-width: none;
        transform: scale(0.8);
    }

    .centered-image,
    .white-bar {
        min-width: auto;
        width: 100%;
        max-width: none;
    }

    .text-overlay {
        font-family: Montserrat;
    }

    .top-left-text {
        margin: 15% 0 0 0%;
        font-size: 18pt;
        line-height: 23px;
    }

    .min-text {
        font-size: 10pt;
    }

    .bottom-right-text {
        margin: 0 0% 10% 0;
        font-size: 10pt;
    }

    .text-box {
        width: 100%;
    }
}





 